# Node (Angular)
frontend/node_modules/
frontend/dist/
frontend/.angular/

# ASP.NET
api/bin/
api/obj/
api/*.db
api/*.sqlite
api/appsettings.Development.json
api/*.user

# Sistema
.DS_Store
Thumbs.db

# Docker
*.log
*.env
.env.*

# IDEs
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Postgres
postgres/data
