# Node (Angular)
frontend/node_modules/
frontend/dist/
frontend/.angular/

# ASP.NET (coderepo_api)
coderepo_api/bin/
coderepo_api/obj/
coderepo_api/*.db
coderepo_api/*.sqlite
coderepo_api/appsettings.Development.json
coderepo_api/*.user

# Sistema
.DS_Store
Thumbs.db

# Docker
*.log
*.env
.env.*

# IDEs
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
coderepo_api/.vs/
.vs/

# PostgreSQL
postgres/data

# .NET
coderepo_api/bin/Debug/net8.0/
coderepo_api/obj/