@import "tailwindcss";
.loader {
  border-top-color: white;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(-3px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade {
  animation: fade 0.3s ease-out;
}